#파이썬 변수

In [ ]:
print("Heool world")

Heool world

In [ ]:
print("Mary's cosmetcisµ∫")

Mary's cosmetcis

In [ ]:
print("신씨가 소리지름",'"도둑이야".')

신씨가 소리지름 "도둑이야".

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [ ]:
print("first", end=""); print("second")

firstsecond

In [ ]:
a=5/3

print(a)

1.6666666666666667

In [ ]:
삼성=500000
print(10*삼성)

5000000

In [ ]:
시가="289조"
현재가="50000원"
per=15.79

#파이썬 변수

In [ ]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [ ]:
a = "132"
print(type(a))

<class 'str'>

In [ ]:
a="15.79"
int_a=float(a)
print(type(int_a))

<class 'float'>

In [ ]:
year = "2020"
year1=int(year)
print((year1)-1,year1,(year1)+1)

2019 2020 2021

In [ ]:
a=48454*36
print(a)

1744344

In [ ]:
letters = 'python'
print(letters[0], letters[2])
print(letters[-1:-4,-1])

p t

TypeError: string indices must be integers, not 'tuple'

#파이썬 문자열

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::-1])

짝홀짝홀짝홀

In [ ]:
phone_number = "010-1111-2222"
phone_number1=phone_number.replace("-","")
print(phone_number1)

01011112222

In [ ]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split [-1])

kr

In [ ]:
string = 'abcdfe2a354a32a'
string.replace('a','A')

In [ ]:
a = "3"
b = "4"
print(a + b)
print("-"*80)

34
--------------------------------------------------------------------------------

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: {} 나이: {}".format(name2, age2))
print(f"이름: {name1} 나이: {age1}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10

In [ ]:
data = "   삼성전자    "
data1=data.strip()
print(data1)

삼성전자

In [ ]:
ticker = "BTC_KRW"
ticker1=ticker.upper()
print(ticker1)

BTC_KRW

In [ ]:
a = "hello"
a = a.capitalize() # 첫글자만 대문자
print(a)

Hello

In [ ]:
file_name = "보고서.xlsx"
file1=file_name.endswith("xlsx") #파일이름

In [ ]:
file_name = "2020_보고서.xlsx"
file1=file_name.startswith("2024") #파일이름

In [ ]:
a = "hello world"
a1=a.split(" ")
print(a1)

['hello', 'world']

In [ ]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
data = "039490     "
data = data.rstrip()
print(data)

039490

#파이썬 리스트

In [1]:
movie =["닥터스트레인지","스플릿","럭키"]
print(movie)

['닥터스트레인지', '스플릿', '럭키']

##### 리스트 함수 추가는 append사용

In [2]:
list["배트맨"]=movie[4]

IndexError: list index out of range

In [3]:
movie.append("배트맨")

###insert메서드를 사용해 특정 위치에 값을 끼어넣기

In [4]:
movie= ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie.insert(1,"슈퍼맨")
print(movie)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 삭제 할떄는 요소이름이 아닌 숫자로!!

In [ ]:
movie= ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
del movie("럭키")  # del movie[3]

SyntaxError: cannot delete function call (4288339101.py, line 2)

#### 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. 따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야함

In [ ]:
movie= ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
del movie[0:3:] #del movie_rank[2]
print(movie)

['배트맨']

In [15]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [18]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs=[lang1+lang2]
print(langs)

[['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']]

In [22]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("min: ",min(nums),"max: ",max(nums))

min:  1 max:  7

In [23]:
print(sum(nums))

28

In [24]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [27]:
average = sum(nums)/len(nums)
print(average)

4.0

In [30]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:7])

[100, 130, 140, 150, 160, 170]

In [34]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[:10:2])

[1, 3, 5, 7, 9]

In [33]:
print(nums[1:10:2])

[2, 4, 6, 8, 10]

In [36]:
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [39]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest[1:])

['LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [41]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [46]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [48]:
string = "삼성전자/LG전자/Naver"
interest=string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

### 리스트 정렬 시 sort!!

In [49]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 튜플

In [50]:
my_variable=()

In [51]:
movie=("닥터 스트레인지","스플릿","럭키")

In [52]:
number=(1)

In [ ]:
t = ('a', 'b', 'c')

In [56]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=list(interest)
data=tuple(interest)

In [58]:
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 딕셔너리

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

In [59]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [60]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_=scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [61]:
temp={}

In [62]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}

In [63]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [66]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [68]:
ice = {'메로나': [300,20],
       '폴로포': [400,3],
       '빵빠레': [250,100]
      }
print(ice['메로나'][0],"원")

300 원

In [70]:
ice = {'메로나': [300,20],
       '폴로포': [400,3],
       '빵빠레': [250,100]
      }
print(ice['메로나'][1],"개")

20 개

In [71]:
ice = {'메로나': [300,20],
       '폴로포': [400,3],
       '빵빠레': [250,100]
      }
ice["비비빅"]=[500,7]
print(ice['메로나'][0],"원")

300 원

In [75]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [78]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [79]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.values())
print(sum(ice))

6700

In [81]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [84]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
ab=dict(zip(keys,vals))

In [86]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
cd=dict(zip(date,close_price))

In [90]:
print_reverse("python")

nohtyp

In [89]:
def print_reverse(string) :
    print(string[::-1])